/data
/conferences
/results_csv
*.csv
*.pdf
.venv
__pycache__
.pytest_cache
/.ipynb_checkpoints
*.ipynb_checkpoints
# LaTeX
*.synctex
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.brf
*.fdb_latexmk
*.fls
*.lof
*.lot
*.synctex.gz
*/_minted
*.nav
*.snm
