line-length = 120
src = ["src"]
target-version = "py314"

[lint]
select = [
  "A",
  "ANN204",
  "B",
  "BLE",
  "C4",
  "C9",
  "COM",
  "DTZ",
  "E",
  "EXE",
  "F",
  "FLY",
  "I",
  "INP",
  "LOG",
  "NPY",
  "PIE",
  "PL",
  "PYI",
  "Q",
  "RET",
  "RSE",
  "RUF",
  "SIM",
  "SLOT",
  "TID",
  "UP",
  "W",
  "YTT",
]
ignore = ["COM812", "PLR2004", "PLW2901", "PLC0205", "RUF005"]

[lint.flake8-quotes]
inline-quotes = "single"
multiline-quotes = "double"
docstring-quotes = "double"

[lint.flake8-tidy-imports]
ban-relative-imports = "all"

[lint.isort]
combine-as-imports = true

[format]
quote-style = "single"
